@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
html {
  font-size: 12px;
}
.Editor {
  // position: fixed;
  // z-index: 1000;
  // left: 0;
  // top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  .sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 1rem;
    overflow-y: auto;
  }
  .questions {
    background-color: #f6f6f6;
    padding: 1rem;
  }
  .questions .card {
    cursor: pointer;
    height: 100%;
    transition: all 0.5s ease;
    border-radius: 1rem;
  }
  .questions .card:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    overflow: hidden;
    transition: all 0.5s ease;
  }
  select {
    background-color: white;
    -webkit-appearance: none;
  }
  .questions .action-bar {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 0.5rem 1rem;
    background-color: #eee;
    flex-wrap: wrap;
    border-radius: 1rem;
  }
}
.ChatBoat {
  .chatBody {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &.style {
    z-index: 120;
    background-color: #fff;
    right: 0;
    position: fixed;
    height: 100%;
    .chatHead,
    .chatBody {
      right: 8rem;
    }
  }
}
