@import './assets/bootstrap.css';

html {
  font-size: 12px;
}
.sidebar {
  max-height: 100vh;
  padding: 1rem;
  overflow-y: auto;
}
.questions {
  max-height: 100vh;
  overflow-y: auto;
  height: 100vh;
  background-color: #f6f6f6;
  padding: 1rem;
  padding-top: 100px;
}
.questions .card {
  cursor: pointer;
}
.fade-scale-up {
  animation: fade-scale-up 1s ease forwards 1;
}
select {
  background-color: white;
  -webkit-appearance: none;
}
@keyframes fade-scale-up {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.questions .action-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 50%;
  padding: 1rem;
  background-color: #eee;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .questions .action-bar {
    width: 100%;
  }
  .sidebar {
    padding-top: 110px;
  }
}
.toast-wrapper {
  position: fixed;
  bottom: 0;
  right: 1rem;
  width: 100%;
  max-width: 300px;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 1100;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.toast {
  min-height: min-content;
  width: 100%;
  font-weight: 600;
  left: 1rem;
  background-color: #222;
  color: rgb(255, 251, 0);
  font-size: 1.25rem;
  animation: fade-scale-up 0.5s ease forwards 1;
}
