@import './assets/bootstrap.css';

html {
  font-size: 12px;
}
.sidebar {
  max-height: 100vh;
  padding: 1rem;
  overflow-y: auto;
}
.questions {
  max-height: 100vh;
  overflow-y: auto;
  height: 100vh;
  background-color: #f6f6f6;
  padding: 1rem;
}
.questions .card {
  cursor: pointer;
}
.fade-scale-up {
  animation: fade-scale-up 1s ease forwards 1;
}
@keyframes fade-scale-up {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.questions .action-bar {
  position: sticky;
  z-index: 10;
  top: -1rem;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: #eee;
}
@media (max-width: 768) {
  .questions .action-bar {
    width: 50%;
  }
}
